/* universal class and attributes here  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: rgb(255, 253, 162);
}

a{
  text-decoration: none;
}

header,main{
  margin-bottom: 20px;
}

/* the header start from here  */

.title-name {
  width: 100%;
  height: 65px;
  font-size: 40px;
  background-color: yellow;
  text-align: center;
  color: blue;
  border: 1px solid black;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10000;
}

.all-nav {
  width: 100%;
  height: auto;
  margin-top: 80px;
  padding: 0vw 2vw;
  display: flex;
  justify-content: center;
  justify-content: space-between inset;
  align-items: center;
}

.navbar {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.nav-items {
  font-size: 25px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px 10px;
  color: blue;
  font-weight: bolder;
  background-color: yellow;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
}

.nav-items:hover,.nav-items:active{
    background-color: white;
    font-size: 27px;
}


#searchbar-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbar {
  width: 25vw;
  height: 45px;
  padding: 5px 10px;
  font-size: 22px;
  transition: all ease 0.3s;
}


.expanded {
    width: 50vw !important; 
}

@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .all-nav {
    flex-direction: column;
  }
  .navbar {
    justify-content: center inset;
    justify-content: space-evenly;
  }
  #searchbar {
    width: 100vw;
  }
}



























/* main start from here  */

.main-container{
  width: 90%;
  height: auto;
  margin: auto;
  padding: 1.5vw;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}


/* this bootstrap like column framework css  */

.row{
  width: 100%;
  height: auto;
  background-color: rgb(255, 249, 64);
  float: left;
  display: block;
  text-align: center;
}


.col-3{width: 24%;height: 240px;}
.col-6{width: 50%;height: 100%;}
.col-9{width: 70%;height: 100%;}
.col-12{width: 100%;}


.col{
  background-size: cover;
  display: inline-block;
  padding: 10px auto;
  border-radius: 5px;
  margin: 10px auto;

  }
  

.col:hover{
  filter: opacity(0.9);
  box-shadow: 0px 0px 10px rgb(40, 40, 40);;
}


.download{
  position: relative;
  bottom: 0;
  font-size: 25px;
  padding: 0px 10px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 85%;
  left: 43%;
  opacity: 0.8;
  transition: all ease 0.2s;
}


.download:hover{
  opacity: 1;
 padding: 0px 15px ;
}









/* col-width and download button adjustment for tablet  version  */
@media only screen and (min-width: 800px) and (max-width: 1500px){
   .col-3{
    width: 49%;
   }
   .col{
    margin-top: 5px;
   }
}


/* col-width and download button adjustment for mobile version  */
@media only screen and (min-width: 0px) and (max-width: 799px){
  .col-3{
   width: 100%;
   height: 180px;
  }
  .col{
   margin-top: 15px;
  }

  .download{
    top: 80%;
  }
}


























