/* universal class and attributes here  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: rgb(255, 253, 162);
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

header,main{
  margin-bottom: 20px;
}

/* the header start from here  */



.nav-container{
  width: auto;
  height: auto;
  background-color: aqua;
  display: flex;
  align-items: center;
}




.title-name {
  width: 100%;
  height: 65px;
  font-size: 40px;
  background-color:yellow;
  text-align: center;
  color: blue;
  border: 1px solid black;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10000;
}

.all-nav {
  width: 100%;
  height: auto;
  margin-top: 80px;
  padding: 0vw 2vw;
  display: flex;
  justify-content: center;
  justify-content: space-between inset;
  align-items: center;
}

.navbar {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.nav-items {
  font-size: 25px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px 10px;
  color: blue;
  font-weight: bolder;
  background-color: yellow;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
}

.nav-items:hover,.nav-items:active{
    background-color: white;
    font-size: 27px;
}


#searchbar-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbar {
  width: 25vw;
  height: 45px;
  padding: 5px 10px;
  font-size: 22px;
  transition: all ease 0.3s;
}


.expanded {
    width: 50vw !important; 
}




 /* the hidden section , showed up on clicking of three line event */


 .three-lines{
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin: 3px 0px 0px 2vw;
  background-color:yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  transition: all ease-in-out 0.2s;
  z-index: 10001;
}


.three-lines:hover{
  font-size: 30px;
  transform: rotate(90deg);
  border: 1px solid blue;
}


.three-line-open-container{
  width: 40%;
  height: 100%;
  background-color:yellow;
  position: absolute;
  border: 2px solid black;
  top: 65px;
  left: 0%;
  z-index: 1100;
  transition: all ease-in-out 0.2S;
  display: flex inset;
  flex-direction: column;
  align-items: center;
}

.three-line-elements{
  width: 100%;
  height: 50px;
  font-size: 30px;
  background-color:rgb(255, 255, 0);
  color: blue;
  padding:  0px 0px 0px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.three-line-elements:hover{
  background-color: white;
  font: 35px;
  font-weight: bolder;
}

.cross{
  width: 100%;
  height: 50px;
  font-size: 30px;
  background-color:yellow;
  display: flex;
  margin-top: 7vw;
  justify-content: center;
  align-items: center;
}
.cross:hover{
  background-color: yellow;
  font-size: 40px;
  transition: all ease 0.1s;
}





@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .all-nav {
    flex-direction: column;
  }
  .navbar {
    justify-content: center inset;
    justify-content: space-evenly;
  }
  #searchbar {
    width: 100vw;
  }

  .three-line-open-container{
    width: 80%;
  }
}



























/* main start from here  */

.main-container{
  width: 90%;
  height: auto;
  margin: auto;
  padding: 1.5vw;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}


/* this bootstrap like column framework css  */

.row{
  width: 100%;
  height: auto;
  background-color: rgb(255, 249, 64);
  float: left;
  display: block;
  text-align: center;
}


.col-3{width: 24%;height: 240px;}
.col-6{width: 50%;height: 100%;}
.col-9{width: 70%;height: 100%;}
.col-12{width: 100%;}


.col{
  background-size: cover;
  display: inline-block;
  padding: 10px auto;
  border-radius: 5px;
  margin: 10px auto;

  }
  

.col:hover{
  filter: opacity(0.9);
  box-shadow: 0px 0px 10px rgb(40, 40, 40);;
}




















/* for the download hover and click effect  */
.download{
  position: relative;
  bottom: 0;
  font-size: 25px;
  padding: 0px 10px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 85%;
  left: 43%;
  opacity: 0.8;
  transition: all ease 0.2s;
}


.download:hover{
  opacity: 1;
  padding: 0px 15px ;
}














/* this for the pagination container  */


.pagination-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}

.numbering{
  width: 40px;
  height: 35px;
  font-size: 22px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin: 30px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

.numbering:hover{
  transform: scale(1.2);
}


#n1{
  background-color: white;
  color: blue;
}






























/* col-width and download button adjustment for tablet  version  */
@media only screen and (min-width: 800px) and (max-width: 1500px){
   .col-3{
    width: 49%;
   }
   .col{
    margin-top: 5px;
   }
}


/* col-width and download button adjustment for mobile version  */
@media only screen and (min-width: 0px) and (max-width: 799px){
  .col-3{
   width: 100%;
   height: 180px;
  }
  .col{
   margin-top: 15px;
  }

  .download{
    top: 80%;
  }
}























/* For the premium page  */
.intro-box{
  margin-top: 65px;
  width: 100%;
  height: 200px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-bottom: 1px solid black;
  border-radius: 0% 0% 15% 15% ;
}


.intro-box:hover{
  box-shadow: 0px 0px 25px rgb(114, 114, 114);
}




.into-to-plans{
  color: blue;
  font-size: 45px;
  font-weight: 700;
}

.into-to-plans2{
  width: 50vw;
  color: blue;
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
}





.outer-container{
  width: 100%;
  height: auto;
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.plan-container{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
}

.plan{
  display: inline-block;
  width: 23vw;
  height: auto;
  margin: 0px auto;
  background-color: yellow;
  border: 2px solid rgb(81, 81, 81);
  border-radius: 5px;
  padding: 3vw 1.5vw 1vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: all ease-in-out 0.3s;
}

.plan:hover{
  width: 24vw;
  box-shadow: 0px 0px 7px rgb(62, 62, 62);
}

button {
  height: 60px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  background-color: blue;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 12vw;
}

button:hover {
  background-color: white;
  color: blue;
}



.offer-text{
  font-size: 21px;
  line-height: 55px;
}

.bolder{
  font-weight: bolder;
}











@media only screen and (min-width: 0px) and (max-width: 1030px) {
  .plan-container{
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  
  .outer-container{
    margin-top: 70px;
    width: 100%;
    height: auto;
  }

  .plan{
    width: 98%;
    margin-bottom: 50px;
    padding: 10px;
  }
  .plan:hover{
    width: 98%;
    margin-top: 50px;
  }

  .offer-text{
    font-size: 4.5vw;
  }

  .into-to-plans{
    font-size: 35px;
  }

  .into-to-plans2{
    width: 90%;
    font-size: 18px;
  }

  .numbering{
    margin: 30px 10px 10px;
  }
}

